<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra test</title>
  <link rel="stylesheet" href="css/chessboard-0.3.0.css" />
</head>
<body>

<p><span id="white_result"></span><span id="players">
</span><span id="black_result"></span>
</p>

<!-- start example HTML --->
<div id="board" style="width: 400px"></div>
<!-- end example HTML --->

<script src="js/json3.min.js"></script>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/chessboard-0.3.0.js"></script>

<script>
	var current_player = "<%= current_player %>";
	var white_result = "<%= white_score %>";
	var black_result = "<%= black_score
	 %>";

	function set_player(current) {
		if (current == "white") {
			$("#players").html("<b><u>White</u></b> - Black")
		} else {
			$("#players").html("White - <b><u>Black</u></b>")
		}
	}

	function update_score() {
		$("#white_result").html("<b>" + white_result + "</b>  ")
		$("#black_result").html("  <b>" + black_result + "</b>")
	}
	set_player(current_player);
	update_score();
	var onDrop = function(source, target, piece, newPos, oldPos, orientation) {
		if (target == "offboard" ) {
			return "snapback";
		}
		var colour = piece[0] == "w" ? "white" : "black"
		var result = '';
		$.ajax({
			url: 'sendmove',
			dataType: 'text',
			async: false,
			type: "POST",
			data: {"source": source, "target": target, "colour": colour },
			success: function(data) {
				result = data;
			}
		});
		if (result == "") {
			colour == "white" ? set_player("black") : set_player("white")
		} else if (result == "gameover") {
			alert(colour + " won!");

			colour == "white" ? white_result++ : black_result++;
			update_score();
      set_player("white");
			board.start();
      return "snapback"; // dont ask
		}
		return result;
	};

	var board = ChessBoard('board', {
		draggable: true,
		position: "<%= grid %>",
		onDrop: onDrop,
	});
</script>

</body>
</html>
